<footer id="footer">
  <div class="footer-last">
    <div class="row clearfix">
      <span class="copyright">© 2018 by <strong>Show Me The Music.</strong> All Rights Reserved. Powered by <strong>Show Me The Music</strong>.</span>
      <div id="toTop"><i class="icon-angle-up"></i></div><!-- Back to top -->
      <div class="foot-menu">
        <ul>
          <li><a href="policy.do">개인정보처리방침 </a></li>
          <li><a href="usedInfo.do">이용약관</a></li>
        </ul><!-- end links -->
      </div><!-- end foot menu -->
    </div><!-- row -->
  </div><!-- end last -->

</footer><!-- end footer -->
